<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Username page-->
<!-- <div id="username-page">
    <div class="username-page-container">
        <h1 class="title">Type your username</h1>
        <form id="usernameForm" name="usernameForm">
            <div class="form-group">
                <input type="text" id="name" placeholder="Username" autocomplete="off" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="accent username-submit">Start Chatting</button>
            </div>
        </form>
    </div>
</div>-->
<!-- /Username tab-->

<h1 id="username" th:text="${thisUser.uName}"></h1>

<!-- ChatWindow -->
<div th:switch="${messages}" id="chatWindow">
    <div th:case="null">
        <h2 >No messages!</h2>
        <ul class="message-area">

        </ul>
    </div>
    <ul th:case="*" class="message-area">
        <li th:each="message : ${messages}">
            <h4 th:text="${message.sender}"></h4>
            <p th:text="${message.content}"></p>
        </li>
    </ul>
</div>

<input id="message-input" type="text" name="messageContent" placeholder="message"><button id="send-button" th:class="${thishub.channelId}" type="button">Send!</button>
<!-- /ChatWindow -->


<!-- Hubs -->
<div th:switch="${hubs}" id="hubWindow">
    <h2 th:case="null">No Hubs!</h2>
    <ul th:case="*" id="hub-area">
        <li th:each="hub : ${hubs}">
            <h4 th:text="${hub.name}"></h4>
            <a th:id="${hub.channelId}" th:href="'/chat/c' + ${hub.channelId}" type="button">Go to hub</a>
        </li>
    </ul>
</div>
<!-- /Hubs -->

<!-- Users -->
<div th:switch="${users}" id="userWindow">
    <h2 th:case="null">No Users!</h2>
    <ul th:case="*" id="users-area">
        <li th:each="user : ${users}">
            <h4 th:text="${user.uName}"></h4>
            <a class="get-user" th:if="${user.id ge thisUser.id}" th:href="'/chat/p' + ${(((user.id*2)*(user.id*2))+(user.id*2)+(thisUser.id*2))/2}">Chat With User</a>
            <a class="get-user" th:unless="${user.id ge thisUser.id}" th:href="'/chat/p' + ${(((thisUser.id*2)*(thisUser.id*2))+(thisUser.id*2)+(user.id*2))/2}">Chat With User</a>
        </li>
    </ul>
</div>
<!-- /Users -->
<script src="js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:src="@{../js/main.js}"></script>
</body>
</html>